<header class="light{{#if translucent_header}} translucent{{/if}} background padding" style="padding-left: 30px; padding-right: 30px; min-width: 265px;">
  <div class="lock tr">
    <div class="lock td">
      <a href="/" style="width: 50px; height: 50px;"><img src="/img/logo150.png" alt="Excelsior Industries" width="50" height="50"/></a>
    </div>
    {{#if message}}
      <h1 class="fullwidth lock td unset center text padding">{{message}}</h1>
    {{else}}
      <div class="fullwidth lock td"></div>
    {{/if}}
    {{! User Profile}}
    {{#if logged-in}}
    {{!--
    <div class="lock td">
      <a href="/unset-ext">Unset Externals</a>
    </div>
    --}}
    <div class="lock td">
      <a href="/users">Users</a>
    </div>
    <div class="lock td padding">
      <a href="/logout"><button type="button">Logout</button></a>
    </div>
    <div class="lock td">
      <a href="/user/{{user-url}}">
      <button class="border" style="background: unset; width: 50px; height: 50px; background-image: url({{user-avatar}}); background-size: 100%;"></button>
      </a>
    </div>
    {{else}}
    <div class="lock td">
      <a href="/login"><button type="button" style="width: 4em;">Log In</button></a>
    </div>
    {{/if}}
  </div>
</header>
