<header class="light background padding{{#if hide_header}} hidden absolute{{else}} sticky{{/if}}" style="padding-left: 2em; padding-right: 2em; min-width: 16em;">
  {{#if message}}
  <div class="fullwidth center padding" style="font-size: 1.5em; font-weight: 700;">{{message}}</div>
  {{/if}}
  <div class="fullwidth table">
    <div class="tr">
      <div class="td">
        <a href="/"><img src="/img/logo150.png" style="width: 3em; height: 3em;" alt="Excelsior Industries"/></a>
      </div>
      <div class="lock td" style="width: 4em;">
        {{#if logged-in}}
        <a href="/logout"><button type="button">Logout</button></a>
        {{else}}
        <a href="/login"><button type="button">Log In</button></a>
        {{/if}}
      </div>
      {{#if logged-in}}
      <div class="td right" style="width: 3em;">
        <a href="/user/{{user-url}}">
          <button class="border" style="background: unset; width: 3em; height: 3em; background-image: url({{user-avatar}}); background-size: 100%;"></button>
        </a>
      </div>
      {{/if}}
    </div>
  </div>
</header>
