<div class="tr" id="{{name}}-{{shortened_id}}">
  <div class="td round border light background relative" style="padding: 0.2em;">
    {{#if owned}}
    <div class="island absolute round green background" style="right: 0.5em; padding: 0 0.2em;">
      Creator
    </div>
    {{/if}}
    <div class="fullwidth table">
      <div class="tr">
        <div class="td" style="width: 5em;">
          <img src="/img/thermbomo110.png" style="width: 5em; height: 4em; vertical-align: middle;">
        </div>
        <div class="td padding center">
          <span style="font-weight: 700;">{{display_name}}</span><br>
          <span style="font-size: 0.8em;">
            {{author}}
            <em>{{last_modified_at}}</em>
          </span>
        </div>
        <div class="td center" style="width: 3.5em;">
          {{#if second_row}}{{else}}{{rating}}{{/if}}
          <a href="{{url}}"><button class="border background">Enter</button></a>
        </div>
      </div>
    </div>
    {{#if second_row}}
    <hr>
    <div class="fullwidth table">
      <div class="tr">
        <div class="td">{{description}}</div>
        <div class="td center" style="width: 5em;">{{rating}}</div>
      </div>
    </div>
    <div class="fullwidth table">
      <div class="tr">
        <div class="td center">
          {{#if following}}
          <button type="button" class="border green background half follow">Following</button>
          {{else}}
          <button type="button" class="border half follow">Follow</button>
          {{/if}}
        </div>
      </div>
    </div>
    {{/if}}
  </div>
</div>
