<div class="island round border dark background" style="min-width: 12em; max-width: 30em;">
  <form action={{#if createUser}}"/create-user"{{else}}"/login-user"{{/if}} method="post">
    <h2 class="unset center padding">
      {{#if createUser}}Create a Free Account!{{else}}Log in to Existing Account{{/if}}
    </h2>
    <div class="fullwidth table padding">
      <div class="tr">
        <label for="email" class="td" style="width: 5em;">Email:</label>
        <input id="email" class="td padding" name="email"/>
      </div>
      <div class="tr">
        <label for="password" class="td">Password:</label>
        <input id="password" class="td padding" name="password" type="password" autocomplete={{#if createUser}}"new_password"{{else}}"current_password"{{/if}}/>
      </div>
    </div>
    <div class="fullwidth table">
      <div class="tr">
        <span class="td padding">
          {{#if createUser}}
          Already have an account? <a href="/login">Log in here!</a>
          {{else}}
          Don't have an account? <a href="/">Sign up here!</a>
          {{/if}}
        </span>
        <div class="td padding" style="width: 5em;">
          <input class="floatright padding" type="submit" value={{#if createUser}}
          "Sign Up"
          {{else}}
          "Log In"
          {{/if}} style="width: 5em;"/>
        </div>
      </div>
    </div>
  </form>
</div>
