<div class="center island round background padding">
  <h2>{{header}}</h2>
</div>
<div class="island center dark background round padding" style="max-width: 50em;">
  <form action="/create-{{type}}" method="post">
    {{!--
    <img src="/img/thermbomo110.png" class="island" style="width: 15em; height: 12em; display: block;">
    <input type="file" name="file" accept="image/*" style="max-width: 16em; margin-bottom: 0.5em;">
    --}}
    <input type="hidden" name="id" value="{{id}}" readonly>
    <div class="left fullwidth table list">
      <div class="tr">
        <div class="td">
          <div>
            <label for="display_name">Name:
              <span style="color: #BB0000;">*</span>
            </label>
            <input id="display_name" type="text" name="display_name">
          </div>
        </div>
      </div>
      <div class="tr">
        <div class="td">
          <div>
            Author:
            {{author.name}}
          </div>
        </div>
      </div>
      {{#if resource_types}}
      <div class="tr">
        <div class="td">
          <label for="type">Type:</label>
          <div>
            <select id="type" name="type">
              <option value="select">Choose an option</option>
              {{#each resource_types}}
              <option value="{{value}}">{{text}}</option>
              {{/each}}
            </select>
          </div>
        </div>
      </div>
      {{/if}}
      <div class="tr">
        <div class="td">
          <div>
            <label for="description">Description:</label>
            <textarea id="description" class="fullwidth padding text" name="description"></textarea>
          </div>
        </div>
      </div>
      <div class="tr">
        <div class="td">
          <div>
            <label for="tags">Tags <em style="font-size: 0.8em;">(Comma-separated)</em>:</label>
            <textarea id="tags" class="fullwidth padding text" name="tags"></textarea>
          </div>
        </div>
      </div>
      {{#if resource_types}}
      <div class="tr">
        <div class="td">
          <div>
            <label for="type">Source (URL):</label>
            <input type="text" name="source">
          </div>
        </div>
      </div>
      {{/if}}
    </div>
    <input id="submit" type="submit" value="{{create}}" style="max-width: 20em;" disabled>
  </form>
</div>
{{> pageJS js="create_object"}}
