{{#with path}}
<div class="island round dark background center padding relative . path" style="max-width: 40em; margin-bottom: 1em;" id={{id}}>
  <div class="absolute" style="top: 1em; left: 1em;">
    <a href="{{url}}"><button type="button" class="border">Back</button></a>
  </div>
  {{#if image_path}}<img src="{{image_path}}" style="width: 15em; height: 12em;">{{/if}}
  <h2 style="margin: 0.5em 0em;">Path Settings:<br>{{display_name}}</h2>
  <div class="island fullwidth table" style="border-spacing: 0;">
    <div class="tr">
      <div class="td" style="width: 2em;">
        <button type="button" style="background-image: url(/img/arrow_left.png); background-size: 80% 100%; background-repeat: no-repeat; background-position: center;"></button>
      </div>
      <div class="td" style="overflow: hidden; white-space: nowrap;">
        <button type="button" style="border-radius: 5px 5px 0 0;">Display</button>
        <button type="button" style="border-radius: 5px 5px 0 0;">Private</button>
        <button type="button" style="border-radius: 5px 5px 0 0;">Content</button>
        <button type="button" style="border-radius: 5px 5px 0 0;">Analytics</button>
        <button type="button" style="border-radius: 5px 5px 0 0;">Manage</button>
      </div>
      <div class="td" style="width: 2em;">
        <button type="button" style="background-image: url(/img/arrow_right.png); background-size: 80% 100%; background-repeat: no-repeat; background-position: center;"></button>
      </div>
    </div>
  </div>
  <div id="display" class="round background padding">
    <div class="">
      <input type="radio" id="is_public" name="is_public" value="true" class=". change" {{is_public}} style="display: none;">
      <input type="radio" id="is_private" name="is_public" value="false" class=". change" {{is_private}} style="display: none;">
    </div>
    <div class="padding" style="margin-bottom: 0.5em;">
      <label for="is_public" class="round light background padding">Public</label>
      <label for="is_private" class="round light background padding">Private</label>
    </div>
    <div style="margin-bottom: 0.5em;">
      Path Name
      <input type="text" name="display_name" value="{{display_name}}" class=". change">
    </div>
    <div style="margin-bottom: 0.5em;">
      URL<br>
      /path/<input type="text" name="name" value="{{name}}" class=". change" style="width: 10em;">-{{shortened_id}}
    </div>
    <div>
      Description<br>
      <textarea name="description" class="light background text padding . change" rows="4" cols="80">{{description}}</textarea>
    </div>
  </div>
  <div id="">

  </div>
  <div id="analytics">

  </div>
</div>
{{/with}}
{{> pageJS js="path_edit"}}
