<div class="island round dark background center padding" style="max-width: 40em; margin-bottom: 1em;">
  {{#with path}}
  {{#if image_path}}<img src="{{image_path}}" style="width: 15em; height: 12em;">{{/if}}
  <h1 class="padding">{{display_name}}</h1>
  <table class="island fullwidth round padding background" style="max-width: 30em;">
    <tr>
      <td>Author:</td>
      <td><a href="{{authorURL}}">{{author}}</a></td>
    </tr>
    <tr>
      <td>Contributors:</td>
      <td><a href="#">{{contributors}}</a></td>
    </tr>
    {{!--
    <tr>
      <td>Content #:</td>
      <td><a href="#">{{contentCount}}</a></td>
    </tr>--}}
  </table>
  {{/with}}
</div>
<div class="island round dark background padding" style="max-width: 40em; margin-bottom: 1em;">
  <h2 class="center padding">Description</h2>
  <div class="island round background padding" style="max-width: 30em;">
    {{path.description}}
  </div>
</div>
<div class="island round dark background padding" style="max-width: 40em; margin-bottom: 1em;">
  <h2 class="center padding">Reviews</h2>
  <div class="island round background padding"></div>
</div>
<div class="island round dark background padding" style="max-width: 40em;">
  <h2 class="center padding">Comments</h2>
  <div class="island round background padding"></div>
</div>
