<div class="island fullwidth table" style="border-spacing: 0;">
  <div class="tr">
    <div class="td" style="width: 2em;">
      <button id="tray-left" type="button" style="background-image: url(/img/arrow_left.png); background-size: 80% 100%; background-repeat: no-repeat; background-position: center;"></button>
    </div>
    <div class="td">
      <nav id="tray" style="overflow: hidden; white-space: nowrap;">
        <button class=". menu-option" value="display" type="button" style="border-radius: 5px 5px 0 0;">Display</button>
        <button class=". menu-option" value="content" type="button" style="border-radius: 5px 5px 0 0;">Content</button>
        <button class=". menu-option" value="manage" type="button" style="border-radius: 5px 5px 0 0;">Manage</button>
      </nav>
    </div>
    <div class="td" style="width: 2em;">
      <button id="tray-right" type="button" style="background-image: url(/img/arrow_right.png); background-size: 80% 100%; background-repeat: no-repeat; background-position: center;"></button>
    </div>
  </div>
</div>
<div id="display" class="round background padding overflow . menu" style="max-height: 30em;">
  <div class="fullwidth table list">
    <div class="tr">
      <div class="td">
        <div class="padding">
          <input type="radio" id="is_public" name="is_public" value="true" class=". change" {{is_public}} style="display: none;">
          <input type="radio" id="is_private" name="is_public" value="false" class=". change" {{is_private}} style="display: none;">
          <label for="is_public" class="round light background padding">Public</label>
          <label for="is_private" class="round light background padding">Private</label>
        </div>
      </div>
      <div class="td" style="width: 3em;"></div>
    </div>
    <div class="tr">
      <div class="td">
        <div>
          <label for="display_name">Display Name</label><br>
          <input id="display_name" type="text" name="display_name" value="{{display_name}}" class=". change">
        </div>
      </div>
    </div>
    <div class="tr">
      <div class="td">
        <div>
          <label for="name">URL</label><br>
          /path/<input id="name" type="text" name="name" value="{{name}}" class=". change" style="width: 10em;">-{{shortened_id}}
        </div>
      </div>
    </div>
    <div class="tr">
      <div class="td">
        <div>
          <label for="description">Description</label><br>
          <textarea id="description" name="description" class="light background text padding . change" rows="4" cols="80">{{description}}</textarea>
        </div>
      </div>
      <div class="td">
        <input id="show_description" class=". bool" type="checkbox" name="show_description">
      </div>
    </div>
    <div class="tr">
      <div class="td">
        <div>
          <label for="tags">Tags</label><br>
          <textarea id="tags" name="tags" class="light background text padding . change" rows="4" cols="80">{{tags}}</textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="content" class="round background padding overflow hidden . menu" style="max-height: 30em;">
  <a href="{{url}}/creator"><button type="button" class="light background">Enter Creator</button></a>
</div>
<div id="manage" class="round background padding overflow hidden . menu" style="max-height: 30em;">
  <button id="delete" type="button" style="background: #664444;">Delete</button>
</div>
{{> pageJS js="edit" query="?type=path"}}
