{{#with resource}}
{{#if ../embed}}
{{else}}
  <div class="island round dark background center padding relative . resource" style="max-width: 40em; margin-bottom: 1em;" id={{id}}>
    {{#if image_path}}<img src="{{image_path}}" style="width: 15em; height: 12em;">{{/if}}
    <h2 class="padding">{{display_name}}</h2>
    {{#if owned}}
    <div class="absolute" style="top: 1em; right: 1em;">
      <a href="{{url}}/edit"><button type="button" class="border">Edit</button></a>
    </div>
    {{/if}}
    <table class="island fullwidth round background padding" style="max-width: 30em; margin-bottom: 0.5em;">
      <tr>
        <td>Author:</td>
        <td><a href="{{authorURL}}">{{author}}</a></td>
      </tr>
    </table>
  </div>
  {{#if show_description}}
  <div class="island round dark background padding" style="max-width: 40em; margin-bottom: 1em;">
    <h2 class="center padding">Description</h2>
    <div class="round background padding">{{description}}</div>
  </div>
  {{/if}}
{{/if}}

{{#if source}}
<div class="padding">
  <div class="round island center padding" style="max-width: 50em; background: #FFFFFF;">
    <iframe src="{{source}}" style="width: 100%; max-width: 50em; height: 30em;" allowfullscreen></iframe>
  </div>
</div>
{{/if}}

<div class="island round dark background padding" style="max-width: 40em;">
  <h2 class="center padding">Comments</h2>
  <div class="island round background padding"></div>
</div>
{{/with}}
