<div id="display" class="round background padding overflow" style="max-height: 30em;">
  <div class="fullwidth table list">
    <div class="tr">
      <div class="td">
        <div class="padding">
          <input type="radio" id="is_public" name="is_public" value="true" class=". change" {{is_public}} style="display: none;">
          <input type="radio" id="is_private" name="is_public" value="false" class=". change" {{is_private}} style="display: none;">
          <label for="is_public" class="round light background padding">Public</label>
          <label for="is_private" class="round light background padding">Private</label>
        </div>
      </div>
      <div class="td" style="width: 3em;"></div>
    </div>
    <div class="tr">
      <div class="td">
        <div>
          <label for="display_name">Display Name</label><br>
          <span>
            <input id="display_name" type="text" name="display_name" value="{{display_name}}" class=". change" autocomplete="off">
          </span>
        </div>
      </div>
    </div>
    <div class="tr">
      <div class="td">
        <div>
          <label for="name">URL<br></label>
          /resource/<input id="name" type="text" name="name" value="{{name}}" class=". change" autocomplete="off" style="width: 10em;"/>-{{shortened_id}}
        </div>
      </div>
    </div>
    <div class="tr">
      <div class="td">
        <div>
          Type: <span id="type">{{__t}}</span>
        </div>
      </div>
    </div>
    <div class="tr">
      <div class="td">
        <div>
          <label for="description">Description</label><br>
          <textarea id="description" name="description" class="light background text padding . change" rows="4" cols="80">{{description}}</textarea>
        </div>
      </div>
      <div class="td">
        <input id="show_description" class=". bool" type="checkbox" name="show_description">
      </div>
    </div>
    <div class="tr">
      <div class="td">
        <div>
          <label for="tags">Tags</label><br>
          <textarea id="tags" name="tags" class="light background text padding . change" rows="4" cols="80">{{tags}}</textarea>
        </div>
      </div>
    </div>
    <div class="tr">
      <div class="td">
        <div>
          <div>
            <input id="select_original" type="radio" name="source_type" value="original" class=". change" {{is_original}}>
            <label for="select_original">Original Content</label>
          </div>
          <div>
            <input id="select_embed" type="radio" name="source_type" value="embed" class=". change" {{is_embed}}>
            <label for="select_embed">Embedded Content</label>
          </div>
          <br>
          <div id="original" style="display: none;">
            {{#if is_video}}
            [Original videos are currently unavailable. We're sorry.]
            {{else if is_article}}
            {{> quill text=(lookup . 'text')}}
            {{/if}}
          </div>
          <div id="embed" style="display: none;">
            <label for="source">Source</label>
            <input id="source" type="text" name="source" value="{{source}}" class=". change" autocomplete="off">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{> pageJS js="resource_edit"}}
