<form action="/edit-profile" method="post" class="center">
<div class="island fullwidth table padding" style="max-width: 30em;">
  {{! Image and Name}}
  <div class="tr">
    <div class="td center relative" style="width: 15em;">
      <img class="round" src="{{user.avatar_path}}" style="width: 10em; height: 10em;"/>
      <div class="absolute" style="top: unset; left: unset; bottom: 0; right: 0;">
        <a href="/my-files"><button type="button" name="button">Change Image</button></a>
      </div>
    </div>
  </div>
  <div class="tr">
    <div class="td center">
      <a href='/user/{{user.url}}'>Stop Editing<br>(Make sure you save your changes by clicking "Save" below)</a>
    </div>
  </div>
  <div class="tr padding">
    <div class="td round background padding">
      <span>Display Name:</span>
      <input type="text" name="display_name" value="{{user.display_name}}">
    </div>
  </div>
  <div class="tr center padding">
    <div class="td round background padding">
      <span>Username:</span>
      <input type="text" name="username" placeholder="Username:" value="{{user.username}}"/>
    </div>
  </div>
</div>
{{! Personal Information}}
<div class="island round border dark background" style="max-width: 30em; margin-bottom: 1em;">
    <h2 class="center padding">About</h2>
    <hr>
    <div class="fullwidth table padding">
      {{#with user}}
      <div class="tr">
        <span class="td">Name:</span>
        <input type="text" name="first_name" placeholder="First Name:" value="{{first_name}}" style="margin-right: 5px; margin-bottom: 5px;"/>
        <input type="text" name="last_name" placeholder="Last Name:" value="{{last_name}}"/>
      </div>
      {{/with}}
    </div>
  </div>
{{! Stats / Skills}}
<div class="island round border dark background" style="max-width: 50em; margin-bottom: 1em;">
  <h2 class="center padding">Excelsior Skills</h2>
  <hr>
  <div class="fullwidth padding"></div>
</div>
  {{!--
  <div class="td" style="vertical-align: top;">
    {{! Bio}}
    <div class="round border dark background" style="margin-bottom: 5px; min-height: 20em;">
      <h2 class="center padding">Bio</h2>
      <hr>
      {{#if edit}}
      {{> response_field placeholder="Describe yourself" value=user.bio}}
      {{else}}
      <div class="padding">
        {{user.bio}}
        <br><br>
        <em>{{user.quote}}</em>
      </div>
      {{/if}}
    </div>
    --}}
    {{! Activity}}
    {{!--
    <div class="round border dark background" style="margin-bottom: 5px; min-height: 12em;">
      <h2 class="center padding">Activity</h2>
      <hr>
      <div class="padding">
        Completed Path of Learning!: Mindset <a>Congratulate him!</a>
      </div>
    </div>
  </div>
  --}}
</div>
{{#if edit}}
<input type="submit" value="Save" style="max-width: 40em;">
</form>
{{/if}}
