<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    {{#if hasName}}
    <title>{{name}} - Excelsior Profile</title>
    {{else}}
    <title>My Profile Page - Excelsior Profile</title>
    {{/if}}
    {{> links}}
  </head>
  <body>
    {{> header}}
    {{#unless edit}}
    <div>{{name}}{{#if private}} <a href='./edit'>Edit</a></div>{{/if}}
    <div>{{{bio}}}</div>
    {{else}}
    <!-- If currently editing page. -->
    <form id="editProfile" action='/users/me' method="POST">
      <div><input class="text center" type="text" name="name" value="{{name}}"></div>
      <div><textarea class="text box" maxlength="2000" row=5 name="bio">{{bio}}</textarea></div>
      <div><input type="submit"></div>
    </form>
    {{/unless}}
    {{> footer}}
  </body>
</html>
