<div class="island fullwidth table" style="border-spacing: 0;">
  <div class="tr">
    <div class="td" style="width: 2em;">
      <button id="tray-left" type="button" style="background-image: url(/img/arrow_left.png); background-size: 80% 100%; background-repeat: no-repeat; background-position: center;"></button>
    </div>
    <div class="td">
      <nav id="tray" style="overflow: hidden; white-space: nowrap;">
        <button class=". menu-option" value="display" type="button" style="border-radius: 5px 5px 0 0;">Display</button>
        <button class=". menu-option" value="manage" type="button" style="border-radius: 5px 5px 0 0;">Manage</button>
      </nav>
    </div>
    <div class="td" style="width: 2em;">
      <button id="tray-right" type="button" style="background-image: url(/img/arrow_right.png); background-size: 80% 100%; background-repeat: no-repeat; background-position: center;"></button>
    </div>
  </div>
</div>
<div id="display" class="round background padding overflow . menu" style="max-height: 30em;">
  <div class="fullwidth table list">
    <div class="tr">
      <div class="td">
        <div class="padding">
          <input type="radio" id="is_public" name="is_public" value="true" class=". change" {{is_public}} style="display: none;">
          <input type="radio" id="is_private" name="is_public" value="false" class=". change" {{is_private}} style="display: none;">
          <label for="is_public" class="round light background padding">Public</label>
          <label for="is_private" class="round light background padding">Private</label>
        </div>
      </div>
      <div class="td" style="width: 3em;"></div>
    </div>
    <div class="tr">
      <div class="td">
        <div>
          <label for="display_name">Display Name</label><br>
          <span>
            <input id="display_name" type="text" name="display_name" value="{{display_name}}" class=". change" autocomplete="off">
          </span>
        </div>
      </div>
    </div>
    <div class="tr">
      <div class="td">
        <div>
          <label for="username">URL (Username)<br></label>
          /user/<input id="username" type="text" name="username" value="{{username}}" class=". change" autocomplete="off" style="width: 10em;"/>-{{shortened_id}}
        </div>
      </div>
    </div>
    <div class="tr">
      <div class="td">
        <div>
          <label for="first_name">First / Last Name</label><br>
          <input id="first_name" type="text" name="first_name" value="{{first_name}}" class=". change" placeholder="First Name" style="width: 6em;">
          <input id="last_name" type="text" name="last_name" value="{{last_name}}" class=". change" placeholder="Last Name" style="width: 6em;">
        </div>
      </div>
      <div class="td">
        <input id="show_name" class=". bool" type="checkbox" name="show_name">
      </div>
    </div>
    <div class="tr">
      <div class="td">
        <div>
          <label for="description">Bio</label><br>
          <textarea id="description" name="description" class="light background text padding . change" rows="4" cols="80">{{description}}</textarea>
        </div>
      </div>
      <div class="td">
        <input id="show_description" class=". bool" type="checkbox" name="show_description">
      </div>
    </div>
    <div class="tr">
      <div class="td">
        <div>
          <label for="location">Location</label><br>
          <input id="location" type="text" name="location" class=". change" value="{{location}}">
        </div>
      </div>
      <div class="td">
        <input id="show_location" class=". bool" type="checkbox" name="show_location">
      </div>
    </div>
    {{!--
    <div class="tr">
      <div class="td">
        <div>
          <label for="birthday">Birthday</label><br>
          <input id="birthday" type="date" name="birthday" class=". change" value="{{birthday}}">
        </div>
      </div>
      <div class="td">
        <button type="button" class="booloption" id="show-birthday"></button>
      </div>
    </div>
    <div class="tr">
      <div class="td">
        <div>
          <span>Work History<br></span>
          <span>--Placeholder--</span>
        </div>
      </div>
      <div class="td">
        <button type="button" class="booloption" id="show-workHistory"></button>
      </div>
    </div>
    <div class="tr">
      <div class="td">
        <div>
          <span>Life Skills<br></span>
          <span>--Placeholder--</span>
        </div>
      </div>
      <div class="td">
        <button type="button" class="booloption" id="show-externalSkills"></button>
      </div>
    </div>
    <div class="tr">
      <div class="td">
        <div>
          <span>Axys Skills<br></span>
          <span>--Placeholder--</span>
        </div>
      </div>
      <div class="td">
        <button type="button" class="booloption" id="show-excelsiorSkills"></button>
      </div>
    </div>
    --}}
    <div class="tr">
      <div class="td">
        <div>
          <span>Join Date<br></span>
          <span>{{created_at}}</span>
        </div>
      </div>
      <div class="td">
        <input id="show_joinDate" class=". bool" type="checkbox" name="show_joinDate">
      </div>
    </div>
    {{!--
    <div class="tr">
      <div class="td">
        <div>
          <span>Created Paths</span>
        </div>
      </div>
      <div class="td">
        <button type="button" class="booloption" id="show-createdPaths"></button>
      </div>
    </div>
    --}}
    <div class="tr">
      <div class="td">
        <div>
          <span>Followed Paths</span>
        </div>
      </div>
      <div class="td">
        <input id="show_followedPaths" class=". bool" type="checkbox" name="show_followedPaths">
      </div>
    </div>
  </div>
</div>
<div id="manage" class="round background padding overflow hidden . menu" style="max-height: 30em;">
  <button id="delete" type="button" style="background: #664444;">Delete</button>
</div>
{{> pageJS js="edit" query="?type=user"}}
