{{#if edit}}
<form action="/edit-profile" method="post" class="center">
{{/if}}
<div class="island fullwidth table padding" style="max-width: 30em;">
  {{! Image and Name}}
  <div class="tr">
    <div class="td center relative" style="width: 15em;">
      <img class="round" src="{{user.avatar_path}}" style="width: 10em; height: 10em;"/>
      {{#if own_page}}
      <div class="absolute" style="top: unset; left: unset; bottom: 0; right: 0;">
        <a href="/my-files"><button type="button" name="button">Change Image</button></a>
      </div>
      {{/if}}
    </div>
  </div>
  {{#if own_page}}
  <div class="tr">
    <div class="td center">
      <a{{#if edit}} href='/user/{{user.url}}'>Stop Editing<br>(Make sure you save your changes by clicking "Save" below){{else}} href='/user/{{user.url}}/edit'>Edit{{/if}}</a>
    </div>
  </div>
  {{/if}}
  <div class="tr padding">
    {{#if edit}}
    <div class="td round background padding">
      <span>Display Name:</span>
      <input type="text" name="display_name" value="{{user.display_name}}">
    </div>
    {{else}}
    <div class="td round background padding center">
      <h1>{{user.display_name}}</h1>
    </div>
    {{/if}}
  </div>
  {{#if edit}}
  <div class="tr center padding">
    <div class="td round background padding">
      <span>Username:</span>
      <input type="text" name="username" placeholder="Username:" value="{{user.username}}"/>
    </div>
  </div>
  {{/if}}
</div>
<div class="fullwidth table padding">
  {{! Stats / Skills}}
  {{!--
  <div class="round border dark background" style="margin-bottom: 5px;">
  <h2 class="unset center text padding">Stats / Skills</h2>
  <hr>
  <div class="table padding">
  <div class="tr">
  Entrepreneurship:
  </div>
  <div class="tr">
  Mindset:
  </div>
  <div class="tr">
  Fitness:
  </div>
  </div>
  </div>
  --}}
  <div class="tr">
      {{! Personal Information}}
      <div class="td">
        <div class="island round border dark background" style="max-width: 30em;">
          <h2 class="unset center text padding">About</h2>
          <hr>
          <div class="fullwidth table padding">
            {{#with user}}
            <div class="tr">
              <span class="td">Name:</span>
              {{#if ../edit}}
              <input type="text" name="first_name" placeholder="First Name:" value="{{first_name}}" style="margin-right: 5px; margin-bottom: 5px;"/>
              <input type="text" name="last_name" placeholder="Last Name:" value="{{last_name}}"/>
              {{else}}
              <span class="td">{{first_name}}{{#if last_name}} {{last_name}}{{/if}}</span>
              {{/if}}
            </div>
            {{#if ../edit}}
            {{else}}
            <div class="tr">
              <span class="td">Joined Excelsior:</span>
              <span class="td">{{created_at}}</span>
            </div>
            {{/if}}
            {{/with}}
          </div>
        </div>
      </div>
      {{! Comments}}
      {{!--
      <div class="round border dark background center text">
        <h2 class="unset center text padding">Comments</h2>
        <hr>
        {{> response_field response-text="Comment here..."}}
        <div class="table fullwidth padding">
          <div class="tr">
            <div class="td">
              Assassin:
            </div>
            <div class="td">
              Cool
            </div>
          </div>
        </div>
      </div>
      --}}
    </div>
    {{!--
    <div class="td" style="vertical-align: top;">
      {{! Bio}}
      <div class="round border dark background" style="margin-bottom: 5px; min-height: 20em;">
        <h2 class="unset center text padding">Bio</h2>
        <hr>
        {{#if edit}}
        {{> response_field placeholder="Describe yourself" value=user.bio}}
        {{else}}
        <div class="padding">
          {{user.bio}}
          <br><br>
          <em>{{user.quote}}</em>
        </div>
        {{/if}}
      </div>
      --}}
      {{! Activity}}
      {{!--
      <div class="round border dark background" style="margin-bottom: 5px; min-height: 12em;">
        <h2 class="unset center text padding">Activity</h2>
        <hr>
        <div class="padding">
          Completed Path of Learning!: Mindset <a>Congratulate him!</a>
        </div>
      </div>
    </div>
    --}}
  </div>
</div>
{{#if edit}}
<input type="submit" value="Save" style="max-width: 40em;">
</form>
{{/if}}
